DATABASE_URL="postgresql://user:password@ep-example-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-example.us-east-1.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-key-32-chars-minimum"
ENCRYPTION_SECRET="your-aes-256-encryption-secret-key-hex"
GOOGLE_GENERATIVE_AI_API_KEY="your-google-gemini-api-key"
REDIS_URL="redis://localhost:6379"
